# .gitignore

# ignore node modules
node_modules/

# ignore rust artifacts
target/

# ignore python cache
.cache/

# ignore pip packages
pip_packages/

# ignore vscode temp files
.vscode/temp/

# ignore vscode settings
.vscode/settings.json